<div>
	Dear {{TaskManagerName}}
	<br />
	<br />

	{{ProjectPartnerName}} has rejected your submission that the {{ProjectName}}-{{ProjectCode}}-{{TaskCode}} for {{ClientName}} is prohibited from citing as a Credential. 
	Kindly provide the inputs.
	<br />
	<br />

	Click  <a href='{{ApplicationUrl}}' target="" _blank="">here</a> to provide the inputs.
	<br />
	<br />
	Thank you
</div>