<div>
	Dear {{TaskManagerName}}
	<br />
	<br />

	Thank you for confirming that CTM was used for {{ProjectName}}-{{ProjectCode}}-{{TaskCode}} for {{ClientName}} lead by {{ProjectPartnerName}}
	from Valuations. Please confirm whether the engagement has been completed and whether you can upload the required information as per the template.
	
	<br />
	<br />

	Click  <a href='{{ApplicationUrl}}'>here</a> to provide the inputs.

	<br />
	<br />
	Thank you
</div>