<div>
	Dear {{ProjectPartnerName}}<br /><br />

	Please look at the information provided by {{TaskManagerName}} regarding the {{ProjectName}}-{{ProjectCode}}-{{TaskCode}} for {{ClientName}}.
	Please review and approve the responses.
	<br />
	<br />
	If the project can be used as a Credential, then after your approval, a one-line summary will be sent to the client for approval.
	<br />
	<br />
	Click  <a href='{{ApplicationUrl}}' target="" _blank="">here</a> to view the information for the project and provide your approval.
	<br />
	<br />
	Thank you
</div>