<div>
	Dear {{TaskManagerName}}
	<br />
	<br />
	It appears that {{ProjectName}}-{{ProjectCode}}-{{TaskCode}} for client {{ClientName}} lead by {{ProjectPartnerName}} from Valuations has been completed.
	Please confirm whether Comparable Transaction Multiples (CTM) were used in the engagement
	
	<br />
	<br />

	Click  <a href='{{ApplicationUrl}}'>here</a> to provide the inputs.

	<br />
	<br />
	Thank you
</div>