<div>
	Dear {{TaskManagerName}}
	<br />
	<br />
	{{ProjectPartnerName}} has rejected your inputs that CTM were not used on the  {{ProjectName}}-{{ProjectCode}}-{{TaskCode}} for {{ClientName}}.
	Kindly discuss and provide the information.


	<br />
	<br />

	Click  <a href='{{ApplicationUrl}}'>here</a> to provide the inputs.

	<br />
	<br />
	Thank you
</div>