<div>

	Dear {{TaskManagerName}}
	<br />
	<br />
	{{ProjectPartnerName}} has rejected the inputs as credentials for the {{ProjectName}}-{{ProjectCode}}-{{TaskCode}} for {{ClientName}}.
	Kindly discuss and provide relevant inputs.
	<br />
	<br />
	Click  <a href='{{ApplicationUrl}}' target="" _blank="">here</a> to view project
	<br />
	<br />
	Thank you
</div>
