<div>
	Dear {{ProjectPartnerName}} and {{TaskManagerName}}
	<br />
	<br />

	This is regarding {{ProjectName}}-{{ProjectCode}}-{{TaskCode}} for {{ClientName}}.
	The client has asked for a discussion. Please do so and resend the same for client’s approval.

	<br />
	<br />
	Click  <a href='{{ApplicationUrl}}' target="" _blank="">here</a> to view one-line description
	<br />
	<br />
	Thank you
</div>