<div>
	Dear {{TaskManagerName}}
	<br />
	<br />
	It appears that {{ProjectName}}-{{ProjectCode}}-{{TaskCode}} for client {{ClientName}} has
	been completed. Please confirm if the engagement is over and if this engagement can be used as a Credential going forward.
	<br />
	<br />

	Click  <a href='{{ApplicationUrl}}'>here</a> to provide the inputs.

	<br />
	<br />
	Thank you
</div>