<div>
	Dear {{ProjectPartnerName}} and {{TaskManagerName}}
	<br />
	<br />

	This is to inform you that the Client has approved the following engagement for use as a Credential.
	<br />
	<br />
	{{ClientName}} | {{ProjectCode}} | {{ProjectName}}

	<br />
	<br />
	
	Thank you
</div>