<div>
	Dear {{ProjectPartnerName}}
	<br />
	<br />
	{{TaskManagerName}} has indicated that CTM was not used for {{ProjectName}}-{{ProjectCode}}-{{TaskCode}} for {{ClientName}}
	lead by you from Valuations. Please review and approve the response.

	<br />
	<br />

	Click  <a href='{{ApplicationUrl}}'>here</a> to provide the inputs.

	<br />
	<br />
	Thank you
</div>



