<div>	
	Dear {{ClientContactName}}, <br />
  <br />
	Thank you for engaging with the PwC India Deals team. <br /> <br />
	Since our recent engagement with you, {{ProjectName}}, led by {{ProjectPartnerName}}, has been completed, we would be grateful to include the same as a credential in our reference material. The one-line credential statement will read as follows:

	<br />
  <br />
  <b>{{ShortDescription}} </b>
  <br />
  <br />
	<b>We request for your response by selecting one of the options given below.</b>
	<br />
	<br />
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td >
        <table cellspacing="0" cellpadding="0">
          <tr>
            <td style="border-radius: 2px;" bgcolor="#ED2939">
              <a href="{{ConfirmUrl}}" target="_blank" style="padding: 8px 12px; border: 1px solid #ED2939;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                Confirm
              </a>
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table cellspacing="0" cellpadding="0">
          <tr>
            <td style="border-radius: 2px;" bgcolor="#ED2939">
              <a href="{{RejectUrl}}" target="_blank" style="padding: 8px 12px; border: 1px solid #ED2939;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                Reject
              </a>
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table cellspacing="0" cellpadding="0">
          <tr>
            <td style="border-radius: 2px;" bgcolor="#ED2939">
              <a href="{{MoreInfoUrl}}" target="_blank" style="padding: 8px 12px; border: 1px solid #ED2939;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                Need more information / Need to discuss
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <br />
	<p>We look forward to your response in the next 7 days*.</p>
	<p>Once again, thank you for the trust that you have bestowed on us and look forward to continued association.</p>
	<p><br/><b><i>Best wishes,</i></b><br/>
	PwC India Deals team</p>
	<br />
	<p style="font-size:11px">*In the absence of a response within 7 days, we shall consider it as deemed confirmation.</p>
</div>